<div class="content-component h-100">

    <div class="header">
        <app-header-content [dataUsers]='users' [data]="currentUser"></app-header-content>
    </div>
    <!-- [style]="viewEditMessage ? '' : 'height : 85.2%;'" -->
    <div [class]="viewEditMessage ?  'body isEditMessageBody' : 'body isNotEditMessageBody'">
        <!-- -->
        <div *ngIf="pinMessageBox" class="pin_Edit_BoxMessage pinBoxMessage d-flex">
            <div class="texts-box">
                <span>Pinned message</span>
                <p>{{messageBoxPin}}</p>
            </div>
            <i (click)="unPin()" class="fa fa-remove"></i>
        </div>
        <div [ngClass]="(item.clientMessage ? 'box-message clientMessage' : 'box-message systemMessage')"
            *ngFor="let item of messages;let i = index;">
            <div class="box">
                <div class="d-flex">
                    <button class="icon-operation" mat-icon-button [matMenuTriggerFor]="menu"
                        aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <p class="text-white">{{item.message}}</p>
                </div>
                <div class="d-flex flex-column">
                    <p class="date-view">
                        <span class="date">{{item.timeMessage}} PM</span>
                        <span class="view"><i class="fa fa-check"></i></span>
                    </p>
                    <p class="forwarded">
                        <span *ngIf="item.forwarded">forward from</span>
                        <span>{{item.forwarded}}</span>
                    </p>
                </div>
            </div>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="reply(item , i)">
                    <mat-icon>reply</mat-icon>
                    <span>Reply</span>
                </button>
                <button mat-menu-item *ngIf="item.clientMessage && !item.forwarded" (click)="edit(item , i)">
                    <mat-icon>edit</mat-icon>
                    <span>Edit</span>
                </button>
                <button mat-menu-item (click)="pin(item , i)">
                    <mat-icon>push_pin</mat-icon>
                    <span>Pin</span>
                </button>
                <button mat-menu-item (click)="forward(item , i)">
                    <mat-icon>forward</mat-icon>
                    <span>Forward</span>
                </button>
                <button mat-menu-item (click)="deleted(item , i)">
                    <mat-icon>delete</mat-icon>
                    <span>Delete</span>
                </button>
            </mat-menu>
        </div>
    </div>
    <!-- [style]="viewEditMessage ? '' : 'height: 6.5%;'" -->
    <div [class]="viewEditMessage ?  'footer-section isEditMessageFooter' : 'footer-section isNotEditMessageFooter'">
        <div *ngIf="viewEditMessage" class="pin_Edit_BoxMessage editBoxMessage d-flex">
            <div class="texts-box">
                <span>Edit message</span>
                <p>{{messageBoxEdit}}</p>
            </div>
            <i (click)="unViewEditMessage()" class="fa fa-remove"></i>
        </div>
        <div class="footer-content-component align-items-center">
            <span class="style-icon mr-3">
                <object data="../../../../assets/svg/attachment.svg" width="30" height="30"> </object>
            </span>
            <div class="send-message">
                <textarea placeholder="Whrite a message ..." [(ngModel)]="inputSendMessge"></textarea>
            </div>
            <div class="icon-right">
                <span class="style-icon">
                    <!-- <object data="../../../../assets/svg/grinning-face.svg" width="30" height="30"> </object> -->
                    <i class="fa fa-smile-o"></i>
                </span>
                <div *ngIf="!isEdit; else editMessage">
                    <span *ngIf="inputSendMessge.length === 0 ; else send" class="style-icon"><i
                            class="fa fa-headphones"></i></span>
                    <ng-template #send>
                        <span (click)="sendMessage()"><i class="fa fa-paper-plane"></i></span>
                    </ng-template>
                </div>
                <ng-template #editMessage>
                    <span (click)="isEditMessage()"><i class="fa fa-check"></i></span>
                </ng-template>

            </div>
        </div>
    </div>

</div>