.add-contacts-component {
    .names {
        width: 85%;
        .input-fild {
            width: 100%;
        }
    }
    .icon {
        width: 15%;
    }
    .btns {
        color: white;
    }
}