<div class="sidbar-component">
    <div class="top-secton">
        <span class="mr-2" (click)="openLeftMenu()">
            <i class="fa fa-bars"></i>
        </span>
        <input type="text" placeholder="search" class="form-control ml-2">
    </div>

    <div class="users">
        <div class="list-users" *ngFor="let item of users; let i = index;" (click)="clickBoxUser(item , i)">
            <img src="../../../assets/img/photo_2021-10-12_23-38-06.jpg" alt="">
            <div class="section-texts">
                <p class="d-flex justify-content-between title-users">
                    <span class="name-user">{{item.name}}</span>
                    <span class="date-message">11:58 PM</span>
                </p>
                <div class="d-flex justify-content-between subTitle-users mb-0">
                    <span class="description-message">{{item.lastSendMessage }}</span>
                    <span class="icon-operation" (click)="clickShowMenuOperation(item , i)"><i
                            class="fa fa-ellipsis-v"></i></span>
                    <ul [style]="showMenuOperationById === item.id ? 'height : 90px;' : null" class="list-items-operation">
                        <li (click)="clearHistory(item , i)">
                            <i>
                                <object style="width : 85%; height: 26px;" data="../../../../assets/svg/broom.svg"
                                    width="30" height="30"> </object>
                            </i>
                            <span>Clear history</span>
                        </li>
                        <li (click)="deleteChate(item , i)">
                            <i class="fa fa-trash"></i>
                            <span>Delete chate</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>