.sidbar-component {
    .top-secton {
        display: flex;
        align-items: center;
        margin-top: 1rem;
        span {
            width: 25px;
            height: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #a7a7a7;
            font-size: 31px;
            cursor: pointer;
        }
        input {
            height: 30px;
            background: #116e83;
            color: white;
            border: 1px solid #116e83;
        }
    }
    .list-users {
        display: flex;
        width: 100%;
        align-items: center;
        margin-top: 1rem;
        border-radius: 10px;
        justify-content: space-between;
        transition: all 0.3s ease;
        &:hover {
            background: #475f74;
            padding: 10px;
        }
        img {
            width: 50px;
            height: 50px;
            border-radius: 100%;
        }
        .section-texts {
            width: 100%;
            margin-left: 1rem;
            cursor: pointer;
            p {
                margin-bottom: 5px;
            }
            .name-user {
                color: white;
                font-weight: bold;
                font-size: 15px;
            }
            .total-message {
                width: 40px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 64%;
                background: #577d7e;
                color: white;
                font-size: 12px;
                font-weight: bold;
            }
            .date-message {
                color: #a5b5b7;
                font-size: 14px;
            }
            .description-message {
                color: #b1c6c9;
                font-size: 14px;
            }
        }
    }
}