<main class="left-menu-component" [style]="openLeftMenu ? 'width : 27%;' : null">
    <section class="top-section">
        <section class="section-awatar">
            <img class="awatar" (click)="toggleInformationUser()" src="../../../../assets/img/awatar.png" alt="awatar">
            <span class="icon-save">
                <i class="fa fa-save"></i>
            </span>
        </section>
        <section class="information-user ">
            <p>
                <span class="name-user">UserName</span>
                <span class="phone-number">Phone Number</span>
            </p>
            <span class="icon-angle" (click)="toggleInformationUser()" [style]="openToggleInformationUser ? 'transform: rotate(180deg);' : null">
                <i class="fa fa-angle-down"></i>
            </span>
        </section>
    </section>
    <section class="under-menu" [style]="openToggleInformationUser ? 'height: 130px; padding: 15px;' : null">
        <div class="row-1">
            <div class="img-user">
                <img src="../../../assets/img/awatar.png" alt="">
            </div>
            <p class="ml-3">Name User</p>
        </div>
        <div class="row-2 mt-3">
            <div class="icon-user">
                <object data="../../../assets/svg/user-circle.svg" width="30" height="30"> </object>
            </div>
            <p class="ml-3">Add Account</p>
        </div>
    </section>
    <app-list-iems-tools></app-list-iems-tools>
</main>