.left-menu-component {
    height: 100vh;
    position: absolute;
    left: -369px;
    top: 0;
    width: 27%;
    background: #37575c;
    transition: all 0.2s ease;
    z-index: 12;
    .top-section {
        padding: 20px;
        background: #4895f5;
        .section-awatar {
            display: flex;
            justify-content: space-between;
            img {
                width: 50px;
                height: 50px;
                border-radius: 100%;
                cursor: pointer;
            }
            .icon-save {
                height: 30px;
                width: 30px;
                background: #98b3d5;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 100%;
                color: white;
                cursor: pointer;
            }
        }
        .information-user {
            display: flex;
            justify-content: space-between;
            margin-top: 1rem;
            p {
                margin-bottom: 0;
                display: flex;
                flex-direction: column;
                color: white;
            }
            .icon-angle {
                height: 25px;
                width: 25px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 100%;
                color: white;
                font-size: 30px;
                transition: all 0.4s ease;
                cursor: pointer;
            }
        }
    }
    .under-menu {
        // padding: 15px;
        height: 0;
        overflow-y: hidden;
        position: relative;
        transition: all .3s ease;
        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 1px;
            background-color: #1a1a1a8e;
            left: 0;
        }
        .row-1,
        .row-2 {
            display: flex;
            align-items: center;
            color: white;
            padding: 5px;
            transition: all .3s ease;
            border-radius: 5px;
            cursor: pointer;
            &:hover {
                background-color: #6f787873;
            }
            p {
                margin-bottom: 0;
            }
            .img-user,
            .icon-user {
                width: 37px;
                display: flex;
                img {
                    width: 35px;
                    margin-right: 1rem;
                    border-radius: 100%;
                }
            }
        }
    }
}