<div class="create-group-component">
    <section class="section-inputFile">
        <input type='file' id="imageUpload" class="d-none" accept=".png, .jpg, .jpeg" #fileInput (change)="uploadImage($event)" />
        <div class="upload-awatar" (click)="fileInput.click()">
            <object data="../../../../assets/svg/camera.svg" width="30" height="30"> </object>
        </div>
    </section>
    <section class="section-nameGroup">
        <mat-form-field appearance="fill">
            <mat-label>Group Name</mat-label>
            <input matInput>
        </mat-form-field>
    </section>
</div>