<ul class="list-items-tools">
    <li class="item-1" (click)="createGroup()" mat-raised-button>
        <object data="../../../../assets/svg/users.svg" width="30" height="30"> </object>
        <span>New Group</span>
    </li>
    <li class="item-2" (click)="createChanel()">
        <object data="../../../../assets/svg/microphone.svg" width="30" height="30"> </object>
        <span>New Channel</span>
    </li>
    <li class="item-4" (click)="contacts()">
        <object data="../../../../assets/svg/account.svg" width="30" height="30"> </object>
        <span>Contacts</span>
    </li>
    <li class="item-5">
        <object data="../../../../assets/svg/call.svg" width="30" height="30"> </object>
        <span>Calls</span>
    </li>

    <li class="item-6">
        <!-- <img src="../../../assets/svg/setting.svg" alt=""> -->
        <object data="../../../../assets/svg/setting.svg" width="30" height="30"> </object>
        <span>Settings</span>
    </li>
    <!-- <li class="item-6">
        <i class="fa fa-users"></i>
        <span>Night Mode</span>
    </li> -->
</ul>