.list-items-tools {
    list-style: none;
    padding: 15px;
    li {
        display: flex;
        align-items: center;
        margin-top: 10px;
        width: 100%;
        padding: 5px;
        border-radius: 6px;
        transition: all .3s ease;
        cursor: pointer;
        &:hover {
            background: #6f787873;
        }
        span {
            margin-left: 1rem;
            font-size: 14px;
            color: white;
        }
    }
}