<div class="header-content-component d-flex justify-content-between">
    <div class="specific" (click)="showProfileUser()">
        <p>{{data.name}}</p>
        <p class="mt-1 count-group">
            <!-- <span>5 members ,</span>
            <span>2 online</span> -->
            <span>online</span>
        </p>
    </div>

    <div class="icons-operation d-flex">
        <span class="style-icon"><i class="fa fa-search"></i></span>
        <span class="mx-4 style-icon"><i class="fa fa-dashboard"></i></span>
        <div>
            <button class="style-icon" mat-icon-button [matMenuTriggerFor]="menu"
                aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="viewProfile()">
                    <mat-icon>account_circle</mat-icon>
                    <span>View profile</span>
                </button>
                <button mat-menu-item (click)="clearHistory()">
                    <mat-icon>cleaning_services</mat-icon>
                    <span>Clear history</span>
                </button>
                <button mat-menu-item (click)="deleteChate()">
                    <mat-icon>delete</mat-icon>
                    <span>Delete</span>
                </button>
            </mat-menu>
        </div>
    </div>

</div>